<div class="container">
  <img src="https://m.media-amazon.com/images/I/616p7mG473L._SS500_.jpg" class="img-fluid" width="50" height="50">
  <a href="http://localhost:8888/TreeOfLife.exe" download style="text-decoration: underline;">TreeOfLife.exe</a>
  <div>
    Au premier démarrage : laisser http://localhost:8888/ comme adresse de démarrage
  </div>
</div>

<!-- etudiant -->
<div *ngIf="user && user.role == 'etudiant'">
  <h2 class="bg-success text-white">Liste des abres</h2>
  <table class="table">
    <thead class="thead-success">
    <tr>
      <th>Fichier</th>
      <th>Description</th>
      <th>Auteur</th>
      <th>Derniere modification</th>
    </tr>
    </thead>
    <tbody *ngFor="let binary of userBinaries">
    <td><a href="{{download(binary.path)}}">{{binary.path}}</a></td>
    <td>{{binary.description}}</td>
    <td>{{binary.author}}</td>
    <td>{{toDate(binary.lastmodified)}}</td>
    </tbody>
  </table>
  <br>
  <div>
    <app-upload></app-upload>
  </div>
</div>

<!-- etudiant -->
<div *ngIf="user && user.role == 'enseignant'">
  <h2 class="bg-success text-white">Liste des abres</h2>
  <table class="table">
    <thead class="thead-success">
    <tr>
      <th>Fichier</th>
      <th>Description</th>
      <th>Auteur</th>
      <th>Derniere modification</th>
    </tr>
    </thead>
    <tbody *ngFor="let binary of binaries">
    <td><a href="{{download(binary.path)}}">{{binary.path}}</a></td>
    <td>{{binary.description}}</td>
    <td>{{binary.author}}</td>
    <td>{{binary.lastmodified}}</td>
    </tbody>
  </table>
  <br>
  <div>
    <app-upload></app-upload>
  </div>
</div>


<!----
<table>
  <tr>
    <th>Fichier</th>
    <th>Description</th>
    <th>Auteur</th>
    <th>Dernière modification</th>
  </tr>
  <tr *ngFor="let binary of binaries">
    <td><a href="{{download(binary.path)}}">{{binary.path}}</a></td>
    <td>{{binary.description}}</td>
    <td>{{binary.author}}</td>
    <td>{{binary.lastmodified}}</td>
  </tr>
</table>
-->
