
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Telechargement du Logiciel</h5>
        <p class="card-category">Vous pouvez gerer telecharger gratuitement le logiciel Arbre du vivant</p>
      </div>
      <div class="card-body ">


        <img src="https://m.media-amazon.com/images/I/616p7mG473L._SS500_.jpg" class="img-fluid" width="50" height="50">
        <a href="http://localhost:8888/TreeOfLife.exe" download style="text-decoration: underline;">TreeOfLife.exe</a>

        <div class="my-4">
          Au premier démarrage : laisser http://localhost:8888/ comme adresse de démarrage
        </div>

      </div>
    </div>
  </div>
</div>

